@model Bookify.Models.Entity.Genre
@{
    ViewData["Title"] = "Add Genre";
}
<div class="body-wrapper-inner">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title fw-semibold mb-4">Genre</h5>
<!-- Genre Section -->
<form asp-action="Add" asp-controller="Genre" method="post">
    <div class="mb-3">
        <label for="genre" class="form-label">Add Genre</label>
        <input asp-for="Name" class="form-control" id="genre" placeholder="Enter genre">
        <button type="submit" class="btn btn-primary mt-2">Add Genre</button>
        <a asp-action="Index" class="btn btn-primary mt-2">List</a>
    </div>
</form>
</div>
</div>
</div>
</div>

