@model Bookify.Models.Entity.Author

@{
    ViewData["Title"] = !string.IsNullOrEmpty(Model?.AuthorName) ? $"{Model.AuthorName} Edit" : "Edit Author";
}


<div class="body-wrapper-inner">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title fw-semibold mb-4">Update Author</h5>
                <!-- Author Section -->
                <form asp-action="Update" asp-controller="Author" method="post">
                    <input type="hidden" asp-for="AuthorId" />
                    <div class="mb-3">
                        <label for="Author" class="form-label">Add Author</label>
                        <input asp-for="AuthorName" class="form-control" placeholder="Enter Author">
                        <button type="submit" class="btn btn-primary mt-2">Update Author</button>
                        <a asp-action="Index" class="btn btn-primary mt-2">List</a>
                    </div>
                </form>
            </div>
        </div>
        @if (@TempData["msg"] is not null)
        {
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                @TempData["msg"]
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
    </div>
</div>
