@model Bookify.Models.Entity.Publisher

@{
    ViewData["Title"] = !string.IsNullOrEmpty(Model?.PublisherName) ? $"{Model.PublisherName} Edit" : "Edit Author";
}


<div class="body-wrapper-inner">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title fw-semibold mb-4">Update Publisher</h5>
                <!-- Publisher Section -->
                <form asp-action="Update" asp-controller="Publisher" method="post">
                    <input type="hidden" asp-for="PublisherId" />
                    <div class="mb-3">
                        <label for="Publisher" class="form-label">Add Publisher</label>
                        <input asp-for="PublisherName" class="form-control" placeholder="Enter Publisher">
                        <button type="submit" class="btn btn-primary mt-2">Update Publisher</button>
                        <a asp-action="Index" class="btn btn-primary mt-2">List</a>
                    </div>
                </form>
            </div>
        </div>
        @if (@TempData["msg"] is not null)
        {
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                @TempData["msg"]
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
    </div>
</div>